<% if(falseOrganizations !=''){ %>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Organization name</th>
          <th>Email</th>
          <th>Category</th>
          <th>Date Added</th>
        </tr>
      </thead>
      <tbody>
        <%falseOrganizations.forEach((row,index) =>{%>
    
        <tr>
          <td><%=row.organization_name %></td>
          <td><%=row.email %></td>
          <td><%=row.category %></td>
          <td><%=row.date %></td>
          <td>
            <a id = 'approve' href="/approvals/approve/<%=row._id %>" class="btn btn-secondary">Approve</a>
           
          </td>
        </tr>
        <%})%>
      </tbody>
    </table>
    <a href="/admin">Go back to home page</a>
    <% }else{ %>
    <h1 class="text-center text-secondary mt-5">No un-approved organization found!</h1>
    <% } %>
    